@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.app {
    /* Disable text selection, or your app will feel like a web page */
    -webkit-user-select: none;
    -webkit-app-region: drag;
    /* Cover the whole window */
    height: 100%;
    /* Smoother startup */
    animation: fadein 0.5s;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: medium;
}


.sidebar.fixwidth {
    width: 20%;
}

.padded {
    padding: 20px;
}


.sidebar.scrollable {
    overflow-y: auto;
}

input.inputFooter {
    -webkit-app-region: no-drag;
    padding: 3px;
}



.progress-bar {
    position: absolute;
    width: 0;
    height: 10px;
    display: block;
    background-color: #4fa8df;
    transition: width 0s ease-in-out;
    -webkit-transition: width 0s ease-in-out;
}

.progress-bar-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    display: block;
}

.tree-list {
    width: auto;
    padding: 5pt;
}

.tree-list-item {
    display: inline;
    padding: 5pt;
    pointer-events: auto;
    margin-left: 10px;
}

.tree-list-item.inactive {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}

.tree-list-item-body {
    padding-top: 3pt;
    padding-bottom: 3pt;
    padding-right: 3pt;
    width: auto;
    position: relative;
    padding-left: 20pt;
    outline-color: black;
    overflow-y: auto;
    border-style: ridge;
    border-color: #e8e8e8;
    border-width: thin;
    ;
}

.tree-list-item-body.array {
    background-color: inherit;
}

.tree-list-item-title {
    padding-top: 2pt;
    cursor: pointer;
    width: auto;
    display: inline;
    font-size: 1.2em;
    pointer-events: auto;
}

.tree-list-field {
    display: inline;
    cursor: auto;
    padding: 2pt;
    font-size: 1em;
    width: auto;
    box-shadow: none;
    border-color: inherit;
    border-width: 0px;
    border: none;
    size: 20;
}

input[type='number'].tree-list-field {
    color: #75140e;
    background-color: lightblue;
    font-family: monospace;
}

input[type='checkbox'].tree-list-field {
    color: #0c1559;
    width: 10pt;
    height: 10pt;
}

input[type='text'].tree-list-field {
    background-color: lightgreen;
    color: #0c1559;
}

input[type='color'].btn {
    align: bottom;
    height: 24px;
    width: 25px;
    padding: 0;
}

input.nav-input {
    background-color: inherit;
    border: none;
    border-width: 0px;
    border-color: inherit;
}

input.list-input {
    font-weight: bold;
    background-color: lightblue;
    border: none;
    border-width: 0px;
    border-color: inherit;
    width: 95%;
}

input.list-input[readOnly] {
    font-weight: bold;
    background-color: inherit;
    border: none;
    border-width: 0px;
    border-color: inherit;
}

.modal {
    z-index: 1;
    /* Sit on top */
    top: 0;
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    position: absolute;
    text-align: center;
}

.modal-content {
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: #F6F6F5;
    margin: 15% auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: auto;
    height: 100%;
    max-width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
    /* Could be more or less, depending on screen size */
}


/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: #333333;
    color: #f7f8f9;
    top: 0;
    position: relative;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.modal-footer {
    padding: 2px 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: 0;
    position: relative;
    border-radius: 0 0 5px 5px;
    text-align: right;
}

.modal-footer input[type="button"], .modal-footer button {
    margin: 0 4px;
}

.modal-body {
    padding: 2px 16px;
    overflow: auto;
}

div.input-label {
    vertical-align: middle;
    font-weight: bold;
}

.vmiddle {
    vertical-align: middle;
}

input[type='color'].simple {
    width: 40px;
    height: 30px;
}

input[type='checkbox'].simple {
    width: 20px;
    height: 20px;
}

.modal-body>.input-label>input[type='text']:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #719ECE;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

inpu.overlay {
    z-index: 100;
    position: relative;
}

div.flex-container {
    display: -webkit-flex;
    display: flex;
}

img.imageicon {
    width: 10px;
    height: 10px;
}

.grid {
    width: auto;
    margin: 10px 0;
}

.grid td {
    padding: 2px 10px 2px 0;
    vertical-align: top;
}

.grid td label {
    font-weight: bold;
    vertical-align: top;
    margin: 0;
}

.grid tr:active {
    background: transparent;
    color: #333;
}

.folderselector {
    display: none;
}

.task .actions .inner-container .custom-actions, .task .actions .inner-container .cancel {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    padding-left: 5px;
}

.tasks-pane .left-container, .tasks-pane .right-container {
    display: inline-block;
    width: 50%;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    overflow: hidden;
}

.tasks-pane .left-container {
    border-right: 1px solid #C2C0C2;
}

.tasks-pane .right-container {
    border-left: 1px solid #C2C0C2;
    margin-left: -1px;
}

.tasks-header {
    background-color: #f5f5f4;
    padding: 5px 10px;
    border-bottom: 1px solid #C2C0C2;
}

.running-tasks-container, .finished-tasks-container {
    vertical-align: top;
}

.task-container {
    border-bottom: 1px solid #C2C0C2;
}

.task-container .main-info-container {
    padding: 10px 0;
    display: table;
}

.task-container .main-info-container .status-icon-container, .task-container .main-info-container .middle-container, .task-container .main-info-container .cancel-container {
    display: table-cell;
}

.task-container .main-info-container .status-icon-container, .task-container .main-info-container .cancel-container {
    width: 1%;
    padding: 0 10px;
    vertical-align: middle;
}

.task-container .main-info-container .cancel-container, .task-container .main-info-container .status-icon-container .wrong {
    color: red;
}

.task-container .main-info-container .status-icon-container .completed {
    color: mediumseagreen;
}

.task-container .main-info-container .middle-container .task-data-table-container {
    width: 100%;
    display: table;
}

.task-container .main-info-container .middle-container .task-data-table-container .task-data-container {
    display: table-cell;
    width: 100%;
}

.task-container .main-info-container .middle-container .task-data-table-container .action-button-container {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
}

.task-container .main-info-container .middle-container .name-container {
    font-weight: bold;
}

.task-container .main-info-container .middle-container .details-container {
    font-size: 12px;
    padding-bottom: 5px;
}

.task-container .additional-info-container {
    background-color: #F5F5F4;
}

.task-container .additional-info-container {
    width: 100%;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.15s ease-out;
}

.task-container .additional-info-container.open {
    max-height: 100px;
    transition: max-height 0.25s ease-in;
}

.task-container .additional-info-container .grid {
    margin: 0;
    padding: 5px 5px 5px 46px;
}

.notif-off {
    display: none;
}

.notif-on {
    display: block;
    position: absolute;
    top: 1px;
    right: 4px;
    color: red;
}

.h-pane-top {
    max-height: 99.5%;
    min-height: 70%;
    width: 100%;
    z-index: 0;
    transition: height 0.8s;
    background-color: #F6F6F5;
    overflow: hidden;
}

.h-pane-bottom {
    max-height: 30%;
    min-height: 0%;
    width: 100%;
    z-index: 0;
    transition: height 0.8s;
    background-color: #F6F6F5;
    overflow: auto;
    border-color: #b7b7b7;
    border-width: thin;
    border-style: solid;
}

.list-group.tiles-list {
    border-top: 1px solid #989698;
}

.list-group-item.active {
    color: #414142;
    background-color: transparent;
    background-image: linear-gradient(to right, #116cd6, #116cd6 7px, transparent 7px, transparent);
    padding-left: 15px;
}

.list-group-item .main, .table-container {
    display: table;
    box-sizing: border-box;
    width: 100%;
}

.toolbox {
    padding: 5px 10px 0 0;
    margin-bottom: -5px;
}

.toolbox input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.toolbox input[type="range"]:focus {
    box-shadow: none;
    border-color: transparent;
}

.toolbox input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

.toolbox input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #116cd6;
    margin-top: -4px;
}

.toolbox .input-label {
    font-weight: normal;
}

.toolbox select {
    padding: 0;
    border: 1px solid #dddddd;
    background-color: #efefef;
    margin-left: 5px;
}

.table-container .cell {
    display: table-cell;
    vertical-align: middle;
}

.table-container .cell.full-width {
    width: 100%;
}

.color-picker-wrapper {
    display: inline-block;
    font-size: 0;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.color-picker-wrapper .input-label {
    margin: 0;
}

.color-picker-wrapper input[type="color"] {
    width: 20px;
    height: 20px;
    opacity: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.list-group-item .main .left i {
    margin-right: 10px;
}

.list-group-item .main .right .fa-eye {
    color: #116cd6;
}

.list-group-item .details .grid {
    margin-bottom: 0;
}

.list-group-item .details .grid label {
    font-weight: normal;
}

.list-group-item .details .grid input {
    width: 60px;
}

.flex-layout {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

.flex-layout .vertical-container {
    width: 100%;
    overflow-y: auto;
}

.flex-layout .drag-v {
    padding: 4px 0 4px 0;
    margin-top: -5px;
    cursor: row-resize;
}

.flex-layout .drag-v .line {
    height: 1px;
    background-color: #989698;
    cursor: row-resize;
}

.flex-layout .vertical-container.bottom {
    width: 100%;
    margin-top: -4px;
}

.flex-layout .horizontal-container {
    height: 100%;
    width: 50%;
    vertical-align: top;
    display: inline-block;
    overflow-x: auto;
}

.flex-layout .drag-h {
    padding: 0 4px 0 4px;
    margin-left: -5px;
    height: 100%;
    width: 0;
    cursor: col-resize;
    vertical-align: top;
    display: inline-block;
}

.flex-layout .drag-h .line {
    width: 1px;
    height: 100%;
    background-color: #989698;
    cursor: col-resize;
}

.flex-layout .horizontal-container.right {
    margin-left: -4px;
    height: 100%;
    width: 50%;
    vertical-align: top;
    display: inline-block;
}

.layers-widget {
    width: 100%;
    height: 100%;
    position: relative;
}

.layers-widget .top-bar {
    position: absolute;
    box-sizing: border-box;
    height: 25px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #e8e6e8;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
}

.layers-widget .top-bar .title {
    font-weight: bold;
    font-size: 10px;
    color: #333333;
}

.layers-widget .grid {
    margin: 0;
    width: 100%;
    font-size: 10px;
}

.layers-widget .grid td {
    padding: 0;
}

.layers-widget .content {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
